@import "../../vars.css";

.container {
  position: relative;
  margin-top: 76px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 80px 0 0 0;
  color: var(--color-text);
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.projects {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 15px;
  width: 100%;
}
.projectsImage {
  position: absolute;
  display: inline-block;
  top: -166px;
  /* right: -13px; */
  left: 432px;
  width: 328px;
  height: auto;
}
